[submodule "rule-engine"]
	path = rule-engine
	url = git@github.com:SevenSQL/rule-engine.git
[submodule "jetlinks-core"]
	path = jetlinks-core
	url = git@github.com:SevenSQL/jetlinks-core.git
[submodule "jetlinks-supports"]
	path = jetlinks-supports
	url = git@github.com:SevenSQL/jetlinks-supports.git
